.c-icon-degree {
  position: absolute;
  font-size: 50px;
  font-weight: var(--primary-font-weight);
}

.c-temp {
  font-size: 80px;
  font-weight: var(--weight-bold);
}

.c-summary {
  font-weight: var(--weight-light);
  margin-bottom: 30vh;
}